In [34]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [24]:
data = pd.read_csv("ad_click_dataset.csv")

In [25]:
data = data.drop(["full_name","gender"], axis=1)

In [26]:
data.shape

(10000, 7)

In [27]:
data.head()

     id   age device_type ad_position browsing_history time_of_day  click
0   670  22.0     Desktop         Top         Shopping   Afternoon      1
1  3044   NaN     Desktop         Top              NaN         NaN      1
2  5912  41.0         NaN        Side        Education       Night      1
3  5418  34.0         NaN         NaN    Entertainment     Evening      1
4  9452  39.0         NaN         NaN     Social Media     Morning      0

In [28]:
data = data.dropna()
data.head()

      id   age device_type ad_position browsing_history time_of_day  click
0    670  22.0     Desktop         Top         Shopping   Afternoon      1
17   188  56.0      Tablet      Bottom             News     Morning      1
19  7335  24.0      Tablet        Side    Entertainment       Night      0
21  2272  52.0      Tablet      Bottom             News     Morning      1
25  4890  43.0      Tablet      Bottom        Education   Afternoon      1

In [43]:
def encode_columns(data, column):
    encoder = LabelEncoder()
    new_series = encoder.fit_transform(data[column].tolist())
    data[column] = new_series
    return data

In [45]:
data = encode_columns(data, "device_type")
data = encode_columns(data, "ad_position")
data = encode_columns(data, "browsing_history")
data = encode_columns(data, "time_of_day")
data.head()

      id   age  device_type  ad_position  browsing_history  time_of_day  click
0    670  22.0            0            2                 3            0      1
17   188  56.0            2            0                 2            2      1
19  7335  24.0            2            1                 1            3      0
21  2272  52.0            2            0                 2            2      1
25  4890  43.0            2            0                 0            0      1